
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');



body {
    margin: 0;
    padding: 10px;
    max-width: 280px;
    min-width: 280px;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .8px;
    max-height: fit-content;
    height: auto;

}
h1{
    color: #4F4F4F;
}

input {
    width: 99%;
    background: #f2f2f2;
    padding: 14px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 4px;
    border-radius: 3px;
    margin-bottom: 15px;
    display: block;
    font-weight: 700;
}
.top_section{
    margin: 0;
    padding: 24px 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: .9px;
    border-color: #D1D0D0;

}

ul{
    overflow-y: auto;
    max-height: 180px;
    sscrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}
li{
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
    padding: 15px 10px;
    background: #06b6d4;
    margin: 12px 2px;
}
li a{
    border-top: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    overflow-wrap: break-word;


}
button{
    display: inline-block;
}
.save_btn{

    background: #ffffff;
    padding: 10px 20px;
    border-style: solid;
    border-color: #06b6d4;
    color: #06b6d4;
    border-radius: 5px;
    font-weight: 700;
    width: 48%;
}

.savetab_btn{

    border-style: solid;
    border-color: #06b6d4;
    background: #06b6d4;
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 700;
    width: 50%;
}

.del_btn{

    background: #FF6056;
    padding: 10px 20px;
    border: none;
    width: 99%;
    color: #ffffff;
    margin-top : 7px;
    border-radius: 5px;
    font-weight: 700;
}
.save_btn:hover, .savetab_btn:hover ,.del_btn:hover{
    cursor: pointer;
}
.top-container{
    margin-right:  auto;
    margin-left: auto;
}



ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
    
}


